body {
  margin: 0;
  padding: 0;
  background: rgba(82, 140, 220, 0.66);
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
  text-align: center;
}

.container h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.section {
  background-color: #ffffff;
  padding: 50px 30px;
  border: 1.5px solid #b2b2b2;
  border-radius: 0.25em;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

#my-qr-reader {
  padding: 20px !important;
  border: 1.5px solid #b2b2b2 !important;
  border-radius: 8px;
}

#my-qr-reader img[alt="Info icon"] {
  display: none;
}

#my-qr-reader img[alt="Camera based scan"] {
  width: 100px !important;
  height: 100px !important;
}

video {
  width: 100% !important;
  border: 1px solid #b2b2b2 !important;
  border-radius: 0.25em;
}

/* Styling the table properly */
#dataTable {
  width: 90%;
  max-width: 800px;
  border: 2px solid #528cdc;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#dataTable th,
#dataTable td {
  border: 1px solid #528cdc;
  padding: 12px 15px;
  text-align: center;
  font-size: 16px;
  color: #333333;
}

#dataTable thead {
  background-color: #528cdc;
}

#dataTable th {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

#dataTable tbody tr:hover {
  background-color: #f2f2f2;
}

/* Buttons and links styling */
button {
  padding: 10px 20px;
  border: 1px solid #b2b2b2;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #008000ad;
  transition: 0.3s background-color;
}

button:hover {
  background-color: #008000;
}

#html5-qrcode-anchor-scan-type-change {
  text-decoration: none !important;
  color: #1d9bf0;
}

